*{
    margin: 0;
    padding: 0;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffe6;
    display: none;
}
.popup div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup p{
    background-color: #00b33c
    ;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: right;
}
.popup p a{
    color:  #ffffb3;
    text-decoration: none;
}
.popup img{
    display: block;
}